.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  gap: 1rem;
  align-content: space-between;
  align-items: start;
  justify-items: center;
  max-width: var(--width-content);
  padding: 1rem;
}