.input-select {
  background-color: var(--color-main);
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0 ;
  border-radius: var(--border-radius-item);
  position: relative;
  /* width: 8rem; */
  box-shadow: var(--box-shadow-1);
}
.input-select label {
  color: var(--color-disabled);
}
option {
  /* margin-top: 1rem; */
  overflow: hidden;
  border: none;
  background: var(--color-main);
  white-space: normal;
  height: .5rem;
  color: var(--color-text);
  outline: none;
  cursor: pointer;
  padding: .6rem 1rem;
  width: 100%;
  border-bottom: 1px solid var(--color-primary)
}
.input-select select {
  /* border: 1px solid red; */
  cursor: pointer;
  border: none;
  background: var(--color-main);
  background-color: transparent;
  text-align: end;
  color: var(--color-text);
  outline: none;
  height: inherit;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: right;
  text-overflow: ellipsis;
}
select {
  height: 8rem;
}


input[type="range"] {
  box-shadow: none;
  padding: 0;
}

input[type="submit"] {
  margin: auto;
  padding: 3rem auto;
}